<div class="copyright_wrap copyright_style_socials  scheme_original">
    <div class="copyright_wrap_inner">
        <div class="content_wrap">
            <div class="copyright_text">
                <p>Evans Energy LLC © 2018 All Rights Reserved <a href="{{ site.baseurl }}/#">Terms of Use</a> and <a
                        href="{{ site.baseurl }}/#">Privacy Policy</a></p>
            </div>
        </div>
    </div>
</div>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-3841422-2"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-3841422-2');
</script>