<header class="top_panel_wrap top_panel_style_1 scheme_original menu_show">
    <div class="top_panel_wrap_inner top_panel_inner_style_1 top_panel_position_above">

        <!-- <div class="top_panel_top">
    <div class="content_wrap clearfix">
    <div class="top_panel_top_contact_area">
    Saving Money Through Energy Solutions	</div>
    
    
    
    <div class="top_panel_top_user_area">
    <div class="top_panel_top_socials">
    </div>
    <ul id="menu_user" class="menu_user_nav inited sf-js-enabled sf-arrows">
    
    </ul>
    
    </div>					</div>
    </div> -->

        <div class="top_panel_middle">
            <div class="content_wrap">
                <div class="columns_wrap columns_fluid">
                    <div class="column-2_5 contact_logo">
                        <div class="logo">
                            <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/images/EvansEnergy-Logo-small.png"
                                    class="logo_main" alt=""><img src="{{ site.baseurl }}/assets/images/EvansEnergy-Logo-small.png"
                                    class="logo_fixed" alt="">
                                <div class="logo_text"> </div><br>
                            </a>
                        </div>
                    </div>
                    <div class="column-1_4 contact_field contact_address">
                        <span class="contact_icon icon-house"></span>
                        <span class="contact_label contact_address_1">1785 S Metro Pkwy</span>
                        <span class="contact_address_2">Centerville, OH 45459</span>
                    </div>
                    <div class="column-1_4 contact_field contact_phone">
                        <span class="contact_icon icon-phone2"></span>
                        <span class="contact_label contact_phone">(614) 300-5301</span>
                        <span class="contact_email">info@evansenergyllc.com</span>
                    </div>
                </div>
            </div>
        </div>

        {% include menu.html %}
</header>