<div class="top_panel_bottom">
        <div class="content_wrap clearfix">
        <a href="/#" class="menu_main_responsive_button icon-down">Home-Boxed</a>
        <nav class="menu_main_nav_area">
        <ul id="menu_main" class="menu_main_nav inited">
        
        
        
        
        <li id="menu-item-1421" class="menu-item menu-item-type-post_type menu-item-object-donation menu-item-1421 pull-right" style="font-style:italic;"><a href="#">Managing Your Energy Construction Savings</a></li>
        <li id="blob" style="width: 0px; height: 0px; left: 0px; top: 0px; background-color: rgb(0, 198, 255); opacity: 0;"></li></ul>					</nav>
                        </div>
        </div>