<div class="top_panel_bottom">
        <div class="content_wrap clearfix">
        <a href="{{ site.baseurl }}/#" class="menu_main_responsive_button icon-down">Home-Boxed</a>
        <nav class="menu_main_nav_area">
        <ul id="menu_main" class="menu_main_nav inited sf-js-enabled sf-arrows"><li id="menu-item-1617" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-1617"><a href="{{ site.baseurl }}/#" class="sf-with-ul">Home</a>
        <ul class="sub-menu animated fast fadeOutDown" style="display: none;">
        <li id="menu-item-1207" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1207"><a href="{{ site.baseurl }}/home/">Home 1</a></li>
        <li id="menu-item-1208" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1208"><a href="{{ site.baseurl }}/home-2/">Home 2</a></li>
        <li id="menu-item-1288" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1210 current_page_item menu-item-1288"><a href="{{ site.baseurl }}/">Home-Boxed</a></li>
        </ul>
        </li>
        <li id="menu-item-673" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-673"><a href="{{ site.baseurl }}/#" class="sf-with-ul">Elements</a>
        <ul class="sub-menu animated fast fadeOutDown" style="display: none;">
        <li id="menu-item-674" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-674"><a href="{{ site.baseurl }}/typography/">Typography</a></li>
        <li id="menu-item-726" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-726"><a href="{{ site.baseurl }}/shortcodes/">Shortcodes</a></li>
        <li id="menu-item-887" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-887"><a href="{{ site.baseurl }}/our-clients/">Our Clients</a></li>
        <li id="menu-item-969" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-969"><a href="{{ site.baseurl }}/testimonials/">Testimonials</a></li>
        <li id="menu-item-1594" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1594"><a href="{{ site.baseurl }}/event/">Events</a></li>
        <li id="menu-item-1636" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1636"><a href="{{ site.baseurl }}/faq/">FAQ</a></li>
        </ul>
        </li>
        <li id="menu-item-1616" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1616"><a href="{{ site.baseurl }}/#" class="sf-with-ul">Blog</a>
        <ul class="sub-menu animated fast fadeOutDown" style="display: none;">
        <li id="menu-item-308" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-308"><a href="{{ site.baseurl }}/all-posts/">Standard</a></li>
        <li id="menu-item-440" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-440"><a href="{{ site.baseurl }}/category/post-formats/">Post formats</a></li>
        <li id="menu-item-439" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-439"><a href="{{ site.baseurl }}/category/masonry/">Masonry</a></li>
        <li id="menu-item-438" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-438"><a href="{{ site.baseurl }}/category/portfolio/">Portfolio</a></li>
        <li id="menu-item-441" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-441"><a href="{{ site.baseurl }}/#" class="sf-with-ul">Hover Effects</a>
        <ul class="sub-menu animated fast fadeOutDown" style="display: none;">
        <li id="menu-item-447" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-447"><a href="{{ site.baseurl }}/portfolio-hovers-circle-part-1/">Circle, Part 1</a></li>
        <li id="menu-item-446" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-446"><a href="{{ site.baseurl }}/portfolio-hovers-circle-part-2/">Circle, Part 2</a></li>
        <li id="menu-item-445" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-445"><a href="{{ site.baseurl }}/portfolio-hovers-circle-part-3/">Circle, Part 3</a></li>
        <li id="menu-item-444" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-444"><a href="{{ site.baseurl }}/portfolio-hovers-square-part-1/">Square, Part 1</a></li>
        <li id="menu-item-443" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-443"><a href="{{ site.baseurl }}/portfolio-hovers-square-part-2/">Square, Part 2</a></li>
        <li id="menu-item-442" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-442"><a href="{{ site.baseurl }}/portfolio-hovers-square-part-3/">Square, Part 3</a></li>
        </ul>
        </li>
        </ul>
        </li>
        <li id="menu-item-980" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-980"><a href="{{ site.baseurl }}/our-projects/">Projects</a></li>
        <li id="menu-item-1408" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1408"><a href="{{ site.baseurl }}/contact/">Contact</a></li>
        <li id="menu-item-1421" class="donate menu-item menu-item-type-post_type menu-item-object-donation menu-item-1421"><a href="{{ site.baseurl }}/donation/donate/">Crowdfunding</a></li>
        <li id="blob" style="width: 0px; height: 0px; left: 0px; top: 0px; background-color: rgb(0, 198, 255); opacity: 0;"></li></ul>					</nav>
        <div class="search_wrap search_style_regular search_state_fixed search_ajax inited">
        <div class="search_form_wrap">
        <form role="search" method="get" class="search_form" action="{{ site.baseurl }}/">
        <button type="submit" class="search_submit icon-search-light" title="Start search"></button>
        <input type="text" class="search_field" placeholder="Search" value="" name="s">
        </form>
        </div>
        <div class="search_results widget_area scheme_original"><a class="search_results_close icon-cancel"></a><div class="search_results_content"></div></div>
        </div>				<ul class="menu_main_responsive"><li id="menu-item-1617" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-1617"><a href="{{ site.baseurl }}/#">Home</a>
        <ul class="sub-menu">
        <li id="menu-item-1207" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1207"><a href="{{ site.baseurl }}/home/">Home 1</a></li>
        <li id="menu-item-1208" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1208"><a href="{{ site.baseurl }}/home-2/">Home 2</a></li>
        <li id="menu-item-1288" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1210 current_page_item menu-item-1288"><a href="{{ site.baseurl }}/">Home-Boxed</a></li>
        </ul>
        </li>
        <li id="menu-item-673" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-673"><a href="{{ site.baseurl }}/#">Elements</a>
        <ul class="sub-menu">
        <li id="menu-item-674" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-674"><a href="{{ site.baseurl }}/typography/">Typography</a></li>
        <li id="menu-item-726" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-726"><a href="{{ site.baseurl }}/shortcodes/">Shortcodes</a></li>
        <li id="menu-item-887" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-887"><a href="{{ site.baseurl }}/our-clients/">Our Clients</a></li>
        <li id="menu-item-969" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-969"><a href="{{ site.baseurl }}/testimonials/">Testimonials</a></li>
        <li id="menu-item-1594" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1594"><a href="{{ site.baseurl }}/event/">Events</a></li>
        <li id="menu-item-1636" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1636"><a href="{{ site.baseurl }}/faq/">FAQ</a></li>
        </ul>
        </li>
        <li id="menu-item-1616" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1616"><a href="{{ site.baseurl }}/#">Blog</a>
        <ul class="sub-menu">
        <li id="menu-item-308" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-308"><a href="{{ site.baseurl }}/all-posts/">Standard</a></li>
        <li id="menu-item-440" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-440"><a href="{{ site.baseurl }}/category/post-formats/">Post formats</a></li>
        <li id="menu-item-439" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-439"><a href="{{ site.baseurl }}/category/masonry/">Masonry</a></li>
        <li id="menu-item-438" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-438"><a href="{{ site.baseurl }}/category/portfolio/">Portfolio</a></li>
        <li id="menu-item-441" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-441"><a href="{{ site.baseurl }}/#">Hover Effects</a>
        <ul class="sub-menu">
        <li id="menu-item-447" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-447"><a href="{{ site.baseurl }}/portfolio-hovers-circle-part-1/">Circle, Part 1</a></li>
        <li id="menu-item-446" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-446"><a href="{{ site.baseurl }}/portfolio-hovers-circle-part-2/">Circle, Part 2</a></li>
        <li id="menu-item-445" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-445"><a href="{{ site.baseurl }}/portfolio-hovers-circle-part-3/">Circle, Part 3</a></li>
        <li id="menu-item-444" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-444"><a href="{{ site.baseurl }}/portfolio-hovers-square-part-1/">Square, Part 1</a></li>
        <li id="menu-item-443" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-443"><a href="{{ site.baseurl }}/portfolio-hovers-square-part-2/">Square, Part 2</a></li>
        <li id="menu-item-442" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-442"><a href="{{ site.baseurl }}/portfolio-hovers-square-part-3/">Square, Part 3</a></li>
        </ul>
        </li>
        </ul>
        </li>
        <li id="menu-item-980" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-980"><a href="{{ site.baseurl }}/our-projects/">Projects</a></li>
        <li id="menu-item-1408" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1408"><a href="{{ site.baseurl }}/contact/">Contact</a></li>
        <li id="menu-item-1421" class="donate menu-item menu-item-type-post_type menu-item-object-donation menu-item-1421"><a href="{{ site.baseurl }}/donation/donate/">Crowdfunding</a></li>
        </ul></div>
        </div>
        
        </div>
        </header>